$main-font: 'Proxima Nova', Arial, sans-serif;
$heading-font: 'Futura PT', Arial, sans-serif;

$bg-main: #E5E5E5;
$bg-success: #62B435;

$link: #3498DB;
$link-hover: #d0021b;
$text-main: #333;
$text-gray: #999;
$text-light: #ccc;

$border-radius: 3px;
$border-color: #ccc;